* {
    font-family: 'Inconsolata', monospace;

    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    color: rgb(167, 28, 28);
}






body {
    background-color: rgb(0, 0, 0);
    margin-top: 60px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}

.nox {
    border: 1rem solid red;
    background-color: rgb(19, 42, 49);    
    text-align: center;
}

.syndicate {
    text-align: center;
}


#messenger {
    color: aliceblue;
}


/*
@font-face {
/*    font-family: MyFont; */
/*    src: url(/Font/Inconsolata-Bold.ttf);
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
}
*/

 
h1 {
    /*position:fixed;*/
    margin-bottom: 100px;
    text-align: center;
    font-size: 88px;
    white-space: nowrap;
    overflow: hidden;
/*    font-family: MyFont; */
    
}

h2 {
    color: rgb(29, 49, 160);

}

h3 {
    color: white;
}


p {
    text-align: justify;
    color: white;
}

.pog {
    color: aquamarine;
}


/*h1 { 
    font-family: Inconsolata;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}
h3 {
    font-family: Inconsolata;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}
p  {
    font-family: Inconsolata;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
blockquote {
    font-family: Inconsolata;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
pre {
    font-family: Inconsolata;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}*/