* {
    font-family: 'Inconsolata', monospace;

    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    color: rgb(255, 255, 255);
}






body {
    background-color: rgb(0, 0, 0);
    margin-top: 60px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}

div.nox{
    border: 1rem solid red;
    background-color: rgb(19, 42, 49);    
    text-align: center;
}

.syndicate {
    text-align: center;
}

.helloGreet {
    color: rgb(255, 255, 255);
    text-align: center;
}


#messenger {
    color: aliceblue;
    text-align: center;

}

#randomizeUser {
    text-align: center;
}


/*
@font-face {
/*    font-family: MyFont; */
/*    src: url(/Font/Inconsolata-Bold.ttf);
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
}
*/


h1 {
    /*position:fixed;*/
    margin-bottom: 100px;
    text-align: center;
    font-size: 88px;
    white-space: nowrap;
    overflow: hidden;
/*    font-family: MyFont; */
    
}

h2 {
    color: white;

}

h3 {
    color: white;
}


p {
    text-align: justify;
    color: white;
}

.pog {
    color: aquamarine;
}

hr {
    color: darkred;
    border-top: 2px groove;
     
}
/*---------------------------------------Glitch efx trial-----------------------------------------------*/
/* Here's the meat and potatoes.

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
    position: relative;
    font-size: 1em;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
    /* Creates a copy before our text. */
    /* Creates a copy after our text. Note comments from ::before.*/
  }
  .glitch::before {
    /* Duplicates our text with the mixin.*/
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: red;
    /* Scoots text slightly to the left for the color offset.*/
    left: 2px;
    /* Creates the color 'shadow' that happens on the glitch.*/
    text-shadow: -2px 0 #000000;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 3s infinite linear alternate-reverse;
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    background-color: orangered;
    text-shadow: -2px 0 #000000, 2px 2px #000000;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  /* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
  @keyframes glitch-anim {
    0% {
      clip: rect(36px, 9999px, 28px, 0);
      transform: skew(2.9deg);
    }
    5% {
      clip: rect(78px, 9999px, 15px, 0);
      transform: skew(0.4deg);
    }
    10% {
      clip: rect(80px, 9999px, 86px, 0);
      transform: skew(-0.52deg);
    }
    15% {
      clip: rect(17px, 9999px, 5px, 0);
      transform: skew(0.55deg);
    }
    20% {
      clip: rect(39px, 9999px, 86px, 0);
      transform: skew(1.74deg);
    }
    25% {
      clip: rect(59px, 9999px, 30px, 0);
      transform: skew(0.69deg);
    }
    30% {
      clip: rect(45px, 9999px, 78px, 0);
      transform: skew(0.71deg);
    }
    35% {
      clip: rect(71px, 9999px, 61px, 0);
      transform: skew(0.54deg);
    }
    40% {
      clip: rect(10px, 9999px, 93px, 0);
      transform: skew(0.66deg);
    }
    45% {
      clip: rect(94px, 9999px, 35px, 0);
      transform: skew(0.97deg);
    }
    50% {
      clip: rect(81px, 9999px, 92px, 0);
      transform: skew(-0.24deg);
    }
    55% {
      clip: rect(8px, 9999px, 55px, 0);
      transform: skew(0.48deg);
    }
    60% {
      clip: rect(10px, 9999px, 52px, 0);
      transform: skew(0.8deg);
    }
    65% {
      clip: rect(36px, 9999px, 71px, 0);
      transform: skew(0.91deg);
    }
    70% {
      clip: rect(91px, 9999px, 39px, 0);
      transform: skew(0.82deg);
    }
    75% {
      clip: rect(22px, 9999px, 22px, 0);
      transform: skew(0.59deg);
    }
    80% {
      clip: rect(60px, 9999px, 100px, 0);
      transform: skew(0.22deg);
    }
    85% {
      clip: rect(37px, 9999px, 78px, 0);
      transform: skew(3.01deg);
    }
    90% {
      clip: rect(76px, 9999px, 19px, 0);
      transform: skew(-2.48deg);
    }
    95% {
      clip: rect(46px, 9999px, 11px, 0);
      transform: skew(0.92deg);
    }
    100% {
      clip: rect(29px, 9999px, 42px, 0);
      transform: skew(0.64deg);
    }
  }
  /* Same deal, just duplicated for ultra randomness.*/
  @keyframes glitch-anim2 {
    0% {
      clip: rect(55px, 9999px, 4px, 0);
      transform: skew(0.19deg);
    }
    5% {
      clip: rect(3px, 9999px, 56px, 0);
      transform: skew(0.01deg);
    }
    10% {
      clip: rect(21px, 9999px, 93px, 0);
      transform: skew(0.77deg);
    }
    15% {
      clip: rect(36px, 9999px, 40px, 0);
      transform: skew(0.73deg);
    }
    20% {
      clip: rect(88px, 9999px, 66px, 0);
      transform: skew(0.49deg);
    }
    25% {
      clip: rect(20px, 9999px, 89px, 0);
      transform: skew(0.11deg);
    }
    30% {
      clip: rect(37px, 9999px, 68px, 0);
      transform: skew(0.6deg);
    }
    35% {
      clip: rect(73px, 9999px, 66px, 0);
      transform: skew(0.14deg);
    }
    40% {
      clip: rect(86px, 9999px, 53px, 0);
      transform: skew(0.95deg);
    }
    45% {
      clip: rect(1px, 9999px, 92px, 0);
      transform: skew(0.81deg);
    }
    50% {
      clip: rect(22px, 9999px, 96px, 0);
      transform: skew(0.28deg);
    }
    55% {
      clip: rect(61px, 9999px, 62px, 0);
      transform: skew(0.92deg);
    }
    60% {
      clip: rect(62px, 9999px, 37px, 0);
      transform: skew(0.69deg);
    }
    65% {
      clip: rect(51px, 9999px, 33px, 0);
      transform: skew(0.69deg);
    }
    70% {
      clip: rect(61px, 9999px, 92px, 0);
      transform: skew(0.25deg);
    }
    75% {
      clip: rect(23px, 9999px, 75px, 0);
      transform: skew(0.86deg);
    }
    80% {
      clip: rect(44px, 9999px, 40px, 0);
      transform: skew(0.69deg);
    }
    85% {
      clip: rect(67px, 9999px, 7px, 0);
      transform: skew(0.36deg);
    }
    90% {
      clip: rect(30px, 9999px, 6px, 0);
      transform: skew(0.69deg);
    }
    95% {
      clip: rect(88px, 9999px, 96px, 0);
      transform: skew(0.55deg);
    }
    100% {
      clip: rect(32px, 9999px, 37px, 0);
      transform: skew(0.44deg);
    }
  }
  /* Does the same deal as before, but now only skews. Used for main text.*/
  @keyframes glitch-skew {
    0% {
      transform: skew(5deg);
    }
    10% {
      transform: skew(2deg);
    }
    20% {
      transform: skew(5deg);
    }
    30% {
      transform: skew(-4deg);
    }
    40% {
      transform: skew(-1deg);
    }
    50% {
      transform: skew(-4deg);
    }
    60% {
      transform: skew(-4deg);
    }
    70% {
      transform: skew(2deg);
    }
    80% {
      transform: skew(5deg);
    }
    90% {
      transform: skew(0deg);
    }
    100% {
      transform: skew(2deg);
    }
  }
/*---------------------------------------Glitch efx trial-----------------------------------------------*/



/*---------------------------------------Glitch efx trial-----------------------------------------------*/
/* Here's the meat and potatoes.

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch2 {
    position: relative;
    font-size: 2em;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    font-weight: bold;
    user-select: none;

    
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
    /* Creates a copy before our text. */
    /* Creates a copy after our text. Note comments from ::before.*/
  }
  .glitch2::before {
    /* Duplicates our text with the mixin.*/
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f80000;
    padding: 80px;
    margin: 20px;
    color: rgb(46, 0, 0);
    /* Scoots text slightly to the left for the color offset.*/
    left: 10px;
    /* Creates the color 'shadow' that happens on the glitch.*/
    text-shadow: -9px 0 #f80000;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 3s infinite linear alternate-reverse;
  }
  .glitch2::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -9px;
    text-shadow: -5px 0 #ff0000, 2px 2px #570404;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  /* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
  @keyframes glitch-anim {
    0% {
      clip: rect(36px, 9999px, 28px, 0);
      transform: skew(2.9deg);
    }
    5% {
      clip: rect(78px, 9999px, 15px, 0);
      transform: skew(0.4deg);
    }
    10% {
      clip: rect(80px, 9999px, 86px, 0);
      transform: skew(-0.52deg);
    }
    15% {
      clip: rect(17px, 9999px, 5px, 0);
      transform: skew(0.55deg);
    }
    20% {
      clip: rect(39px, 9999px, 86px, 0);
      transform: skew(1.74deg);
    }
    25% {
      clip: rect(59px, 9999px, 30px, 0);
      transform: skew(0.69deg);
    }
    30% {
      clip: rect(45px, 9999px, 78px, 0);
      transform: skew(0.71deg);
    }
    35% {
      clip: rect(71px, 9999px, 61px, 0);
      transform: skew(0.54deg);
    }
    40% {
      clip: rect(10px, 9999px, 93px, 0);
      transform: skew(0.66deg);
    }
    45% {
      clip: rect(94px, 9999px, 35px, 0);
      transform: skew(0.97deg);
    }
    50% {
      clip: rect(81px, 9999px, 92px, 0);
      transform: skew(-0.24deg);
    }
    55% {
      clip: rect(8px, 9999px, 55px, 0);
      transform: skew(0.48deg);
    }
    60% {
      clip: rect(10px, 9999px, 52px, 0);
      transform: skew(0.8deg);
    }
    65% {
      clip: rect(36px, 9999px, 71px, 0);
      transform: skew(0.91deg);
    }
    70% {
      clip: rect(91px, 9999px, 39px, 0);
      transform: skew(0.82deg);
    }
    75% {
      clip: rect(22px, 9999px, 22px, 0);
      transform: skew(0.59deg);
    }
    80% {
      clip: rect(60px, 9999px, 100px, 0);
      transform: skew(0.22deg);
    }
    85% {
      clip: rect(37px, 9999px, 78px, 0);
      transform: skew(3.01deg);
    }
    90% {
      clip: rect(76px, 9999px, 19px, 0);
      transform: skew(-2.48deg);
    }
    95% {
      clip: rect(46px, 9999px, 11px, 0);
      transform: skew(0.92deg);
    }
    100% {
      clip: rect(29px, 9999px, 42px, 0);
      transform: skew(0.64deg);
    }
  }
  /* Same deal, just duplicated for ultra randomness.*/
  @keyframes glitch-anim2 {
    0% {
      clip: rect(55px, 9999px, 4px, 0);
      transform: skew(0.19deg);
    }
    5% {
      clip: rect(3px, 9999px, 56px, 0);
      transform: skew(0.01deg);
    }
    10% {
      clip: rect(21px, 9999px, 93px, 0);
      transform: skew(0.77deg);
    }
    15% {
      clip: rect(36px, 9999px, 40px, 0);
      transform: skew(0.73deg);
    }
    20% {
      clip: rect(88px, 9999px, 66px, 0);
      transform: skew(0.49deg);
    }
    25% {
      clip: rect(20px, 9999px, 89px, 0);
      transform: skew(0.11deg);
    }
    30% {
      clip: rect(37px, 9999px, 68px, 0);
      transform: skew(0.6deg);
    }
    35% {
      clip: rect(73px, 9999px, 66px, 0);
      transform: skew(0.14deg);
    }
    40% {
      clip: rect(86px, 9999px, 53px, 0);
      transform: skew(0.95deg);
    }
    45% {
      clip: rect(1px, 9999px, 92px, 0);
      transform: skew(0.81deg);
    }
    50% {
      clip: rect(22px, 9999px, 96px, 0);
      transform: skew(0.28deg);
    }
    55% {
      clip: rect(61px, 9999px, 62px, 0);
      transform: skew(0.92deg);
    }
    60% {
      clip: rect(62px, 9999px, 37px, 0);
      transform: skew(0.69deg);
    }
    65% {
      clip: rect(51px, 9999px, 33px, 0);
      transform: skew(0.69deg);
    }
    70% {
      clip: rect(61px, 9999px, 92px, 0);
      transform: skew(0.25deg);
    }
    75% {
      clip: rect(23px, 9999px, 75px, 0);
      transform: skew(0.86deg);
    }
    80% {
      clip: rect(44px, 9999px, 40px, 0);
      transform: skew(0.69deg);
    }
    85% {
      clip: rect(67px, 9999px, 7px, 0);
      transform: skew(0.36deg);
    }
    90% {
      clip: rect(30px, 9999px, 6px, 0);
      transform: skew(0.69deg);
    }
    95% {
      clip: rect(88px, 9999px, 96px, 0);
      transform: skew(0.55deg);
    }
    100% {
      clip: rect(32px, 9999px, 37px, 0);
      transform: skew(0.44deg);
    }
  }
  /* Does the same deal as before, but now only skews. Used for main text.*/
  @keyframes glitch-skew {
    0% {
      transform: skew(5deg);
    }
    10% {
      transform: skew(2deg);
    }
    20% {
      transform: skew(5deg);
    }
    30% {
      transform: skew(-4deg);
    }
    40% {
      transform: skew(-1deg);
    }
    50% {
      transform: skew(-4deg);
    }
    60% {
      transform: skew(-4deg);
    }
    70% {
      transform: skew(2deg);
    }
    80% {
      transform: skew(5deg);
    }
    90% {
      transform: skew(0deg);
    }
    100% {
      transform: skew(2deg);
    }
  }
/*---------------------------------------Glitch efx trial-----------------------------------------------*/



/*h1 { 
    font-family: Inconsolata;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}
h3 {
    font-family: Inconsolata;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}
p  {
    font-family: Inconsolata;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
blockquote {
    font-family: Inconsolata;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
pre {
    font-family: Inconsolata;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}*/